<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
	<!-- Firebase -->
	<script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>

	<script src="js/main.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Fontdiner+Swanky' rel='stylesheet' type='text/css'>
</head>
<body>

	<div class="full" ng-controller="myController" ng-model="gameContainer">
		<div class="top-container">
			<div class="top-wrapper">
				<div class="score top" id="player1" ng-class="{turn: gameContainer.gameTurn==0}">
					<h3>{{gameContainer.playerArray[0].name}}</h3>
					<h1 class="points">{{gameContainer.playerArray[0].wins}}</h1>
				</div>
				<div class="top" id="logo">
					<h1>TicTacToe</h1>
				</div>
				<div class="score top" id="player2" ng-class="{turn: gameContainer.gameTurn==1}">
					<h3>{{gameContainer.playerArray[1].name}}</h3>
					<h1 class="points">{{gameContainer.playerArray[1].wins}}</h1>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="wrapper">
				
		        <div ng-repeat="box in gameContainer.boardArray">
		            <div class="box" ng-click="playerPicks(box, $index)"
		                ng-class="{xclass: box.status=='X', oclass: box.status =='O'}">
		            </div>
		        </div>
		        
			</div>
		</div>
		<div id="playagain"  ng-show="gameContainer.gameNew" >
			<h1 id="win" >{{gameContainer.gameWinner}}</h1>
			<button ng-click="restartGame()">Play Again</button>
			<button ng-click="resetGame()">Reset Game</button>
		</div>
		
	</div>

</body>
</html>