<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
	<script src="js/main.js"></script>
</head>
<body>

	<div ng-controller="myController">
		<h1>{{sign.name}}</h1>
		<p>{{sign.title + ", " + sign.school}}</p>
		<div id="playagain"  ng-show="newgame" >
			<h1 id="win" >{{thewinner}}</h1>
			<button ng-click="restart()">Play Again</button>
		</div>
		<div class="container">
			<div class="wrapper">
				
		        <div ng-repeat="box in boxes">
		            <div class="box" ng-click="playerPicks(box, $index)"
		                ng-class="{xclass: box.status=='X', oclass: box.status =='O'}">
		                Cell Contents: {{box.status}}
		            </div>
		        </div>
			    
				

			</div>
		</div>
		
	</div>

</body>
</html>